
<div class="col-sm-6 col-sm-offset-3">

<h1>{{title}} Book</h1>

  <form class="form-horizontal" action="{{action}}post" method="post">
    <fieldset>
      <div class="form-group">
        <label class="col-lg-2 control-label">Title</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="book-title" placeholder="Title" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
          <textarea class="form-control" name="description" rows="5" id="textArea" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Authors</label>
        <div class="col-lg-10">
          <select id="authors" name="authors" multiple class="form-control">


          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
          <select id="available-authors" class="form-control">
            {{#each name}}
              <option value="{{this.author_id}}">{{this.first_name}} {{this.last_name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2 text-right">
          <button id="add-author" type="button" class="btn btn-default">Add</button>
          <button id="delete-author" type="button" class="btn btn-danger">Delete All</button>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Image URL</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="img-url" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2 text-right">
          <a href='index.html' class="btn btn-default">Cancel</a>
          <button id="book-submit" type="submit" class="btn btn-primary">Submit</button>
          <input id="author-data" type="hidden" name="authors-data" value="">
        </div>
      </div>
    </fieldset>
  </form>
</div>

<script src="/javascripts/app.js" charset="utf-8"></script>
