<h1>Books</h1>

{{#each book}}
  <h2>{{title}}</h2>
  <h3>{{genre}}</h3>
  <h5>
  {{#each first_name}}
    <span>{{this}}</span>
  {{/each}}
  {{#each last_name}}
    <span>{{this}}</span>
  {{/each}}
  </h5>
  <p>{{description}}</p>
  <img src="{{cover_url}}" alt="" />
{{/each}}
